{
  "Name": {{NAME_JSON}},
  "Author": {{AUTHOR_JSON}},
  "Version": {{VERSION_JSON}},
  "Description": {{DESCRIPTION_JSON}},
  "UniqueID": {{UNIQUE_ID_JSON}},
  "MinimumDTMApiVersion": "0.5.5",
  "Type": "ContentPack",
  "Dependencies": [],
  "UpdateKeys": []
}
