<Project>
  <Import Project="Sdk.props" Sdk="Microsoft.NET.Sdk" />
  <Import Project="$(DTMAPI_AUTHOR_SDK_ROOT)/build/DTMAPI.Author.props" />
  <PropertyGroup>
    <AssemblyName>{{ASSEMBLY_NAME_XML}}</AssemblyName>
    <RootNamespace>{{ROOT_NAMESPACE}}</RootNamespace>
    <Version>{{VERSION_XML}}</Version>
  </PropertyGroup>
  <ItemGroup>
    <None Remove="content/**/*" />
    <Content Include="content/**/*" DtmApiPackagePath="Content/DTMAPI/%(RecursiveDir)%(Filename)%(Extension)" />
  </ItemGroup>
  <Import Project="Sdk.targets" Sdk="Microsoft.NET.Sdk" />
  <Import Project="$(DTMAPI_AUTHOR_SDK_ROOT)/build/DTMAPI.Author.targets" />
</Project>
