{
  "schemaVersion": 2,
  "projectKind": "CodeMod",
  "codeModKind": "Strict",
  "targetDtmApiVersion": {{API_TARGET_JSON}},
  "sourceDirectory": "src",
  "contentDirectory": "content",
  "assemblyName": {{ASSEMBLY_NAME_JSON}},
  "publish": {
    "tags": [
      "Mod",
      "DTMAPI"
    ],
    "localizedName": {},
    "localizedDescription": {}
  }
}
